/**
 * style.css
 * Contains CSS to make site responsive i.e. mobile and tab friendly.
 */

@media screen and (max-width: 768px) {
    #home .home-content .home-content-box h2 {
        font-size: 30px !important;
        line-height: initial !important;
        word-spacing: initial !important;
    }

    .home .home-content .home-content-box .btn {
        width: auto;
        padding: 8px 20px;
        font-size: 14px;
        letter-spacing: initial;
        font-weight: 500;
    }

    .work .d-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    #stats .achievements {
        grid-template-columns: repeat(1, 1fr) !important;
        align-content: center;
        justify-content: center;
    }

    #stats .achievements .achievement {
        margin-bottom: 20px;
    }

    .copyrights .copyright {
        font-size: small;
    }

    .copyrights .links {
        display: none;
    }

}

@media screen and (max-width: 992px) {

    .home .home-content .home-content-box h2 {
        font-size: 40px !important;
        line-height: initial !important;
        word-spacing: initial !important;
    }


    .header .links .link {
        display: block;
        padding: 20px 0;
        padding-top: 0;

    }

    .header .links-wrapper {
        width: 100%;
    }

    .header .links {
        position: absolute;
        top: 78px;
        background-color: transparent;
        width: 100%;
        left: 0;
        padding: 20px;
        z-index: 99;
        display: none;
        margin: 0;
    }

    .header .menu {
        display: block;
    }

    .about .img {
        width: 100%;
        border: none;
        height: 500px;
    }


    .pricing .card {
        margin-bottom: 20px;
    }

    .pricing .card-bg {
        transform: scale(1);
    }

    #stats .achievements {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 100px;
    }

    #stats .achievements .achievement {
        margin: 10px 50px;

    }
}