/**********************************************************************************
                        HELPER CLASSES
*********************************************************************************/

:root {
  --primary-color: #34c6d3;
  --secondary-color: #fff;
  --heading: #41464b;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px !important;
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 700 !important;
  font-size: 30px !important;
  line-height: 33px !important;
  color: var(--heading);
}

p {
  font-size: 16px;
  font-weight: 300;
  color: #64707b;
  line-height: 23px;
}

a:focus {
  outline: 0 !important;
  background-color: #fff;
}

.m-t-0 {
  margin-top: 0px !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-t-35 {
  margin-top: 35px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-t-45 {
  margin-top: 45px !important;
}

.m-t-50 {
  margin-top: 50px !important;
}

.m-t-55 {
  margin-top: 55px !important;
}

.m-t-60 {
  margin-top: 60px !important;
}

.m-t-65 {
  margin-top: 65px !important;
}

.m-t-70 {
  margin-top: 70px !important;
}

.m-t-75 {
  margin-top: 75px !important;
}

.m-t-80 {
  margin-top: 80px !important;
}

.m-t-85 {
  margin-top: 85px !important;
}

.m-t-90 {
  margin-top: 90px !important;
}

.m-t-95 {
  margin-top: 95px !important;
}

.m-t-100 {
  margin-top: 100px !important;
}

.m-b-0 {
  margin-bottom: 0px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.m-b-35 {
  margin-bottom: 35px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.m-b-45 {
  margin-bottom: 45px !important;
}

.m-b-50 {
  margin-bottom: 50px !important;
}

.m-b-55 {
  margin-bottom: 55px !important;
}

.m-b-60 {
  margin-bottom: 60px !important;
}

.m-b-65 {
  margin-bottom: 65px !important;
}

.m-b-70 {
  margin-bottom: 70px !important;
}

.m-b-75 {
  margin-bottom: 75px !important;
}

.m-b-80 {
  margin-bottom: 80px !important;
}

.m-b-85 {
  margin-bottom: 85px !important;
}

.m-b-90 {
  margin-bottom: 90px !important;
}

.m-b-95 {
  margin-bottom: 95px !important;
}

.m-b-100 {
  margin-bottom: 100px !important;
}

.p-t-0 {
  padding-top: 0px !important;
}

.p-t-5 {
  padding-top: 5px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-t-15 {
  padding-top: 15px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.p-t-25 {
  padding-top: 25px !important;
}

.p-t-30 {
  padding-top: 30px !important;
}

.p-t-35 {
  padding-top: 35px !important;
}

.p-t-40 {
  padding-top: 40px !important;
}

.p-t-45 {
  padding-top: 45px !important;
}

.p-t-50 {
  padding-top: 50px !important;
}

.p-t-55 {
  padding-top: 55px !important;
}

.p-t-60 {
  padding-top: 60px !important;
}

.p-t-65 {
  padding-top: 65px !important;
}

.p-t-70 {
  padding-top: 70px !important;
}

.p-t-75 {
  padding-top: 75px !important;
}

.p-t-80 {
  padding-top: 80px !important;
}

.p-t-85 {
  padding-top: 85px !important;
}

.p-t-90 {
  padding-top: 90px !important;
}

.p-t-95 {
  padding-top: 95px !important;
}

.p-t-100 {
  padding-top: 100px !important;
}

.p-r-0 {
  padding-right: 0px !important;
}

.p-r-5 {
  padding-right: 5px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.p-r-15 {
  padding-right: 15px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.p-r-25 {
  padding-right: 25px !important;
}

.p-r-30 {
  padding-right: 30px !important;
}

.p-r-35 {
  padding-right: 35px !important;
}

.p-r-40 {
  padding-right: 40px !important;
}

.p-r-45 {
  padding-right: 45px !important;
}

.p-r-50 {
  padding-right: 50px !important;
}

.p-r-55 {
  padding-right: 55px !important;
}

.p-r-60 {
  padding-right: 60px !important;
}

.p-r-65 {
  padding-right: 65px !important;
}

.p-r-70 {
  padding-right: 70px !important;
}

.p-r-75 {
  padding-right: 75px !important;
}

.p-r-80 {
  padding-right: 80px !important;
}

.p-r-85 {
  padding-right: 85px !important;
}

.p-r-90 {
  padding-right: 90px !important;
}

.p-r-95 {
  padding-right: 95px !important;
}

.p-r-100 {
  padding-right: 100px !important;
}

.p-0 {
  padding: 0px !important;
}

.p-5 {
  padding: 5px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-25 {
  padding: 25px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-35 {
  padding: 35px !important;
}

.p-40 {
  padding: 40px !important;
}

.p-b-0 {
  padding-bottom: 0px !important;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-b-15 {
  padding-bottom: 15px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.p-b-25 {
  padding-bottom: 25px !important;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.p-b-35 {
  padding-bottom: 35px !important;
}

.p-b-40 {
  padding-bottom: 40px !important;
}

.p-b-45 {
  padding-bottom: 45px !important;
}

.p-b-50 {
  padding-bottom: 50px !important;
}

.p-b-55 {
  padding-bottom: 55px !important;
}

.p-b-60 {
  padding-bottom: 60px !important;
}

.p-b-65 {
  padding-bottom: 65px !important;
}

.p-b-70 {
  padding-bottom: 70px !important;
}

.p-b-75 {
  padding-bottom: 75px !important;
}

.p-b-80 {
  padding-bottom: 80px !important;
}

.p-b-85 {
  padding-bottom: 85px !important;
}

.p-b-90 {
  padding-bottom: 90px !important;
}

.p-b-95 {
  padding-bottom: 95px !important;
}

.p-b-100 {
  padding-bottom: 100px !important;
}

.m-auto {
  margin: 10px auto !important;
}

.m-0 {
  margin: 0px !important;
}

.m-5 {
  margin: 5px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-15 {
  margin: 15px !important;
}

.m-20 {
  margin: 20px !important;
}

.m-25 {
  margin: 25px !important;
}

.m-30 {
  margin: 30px !important;
}

.m-35 {
  margin: 35px !important;
}

.m-40 {
  margin: 40px !important;
}

.content-box-md {
  padding: 100px 0;
}

.content-box-lg {
  padding: 120px 0;
}

.content-box-sm {
  padding: 80px 0;
}

.content-box-xs {
  padding: 60px 0;
}

d-grid {
  display: grid;
}


.underline {
  width: 30px;
  height: 3px;
  margin: 30px auto;
  margin-bottom: 0;
  background-color: var(--primary-color);
}

.heading h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 33px;
  color: var(--heading);
  text-transform: uppercase;
}

.heading-white h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 33px;
  color: #fff;
}

/**********************************************************************************
                        General buttons
*********************************************************************************/

.btn-general {
  padding: 12px 15px;
  text-align: center;
  background: transparent;
  border-radius: 0;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 16px;
  border: solid 2px #fff;
}

.btn-general:hover {
  color: #000;
  background: var(--secondary-color);
}

.btn-color {
  border: solid 2px var(--primary-color);
  color: var(--primary-color);
  line-height: 21px;
  padding: 10px 20px;
}

.btn-color:hover,
.bnt-color:focus {
  background-color: var(--primary-color);
  color: #fff;
}

/**********************************************************************************
                        HEADER SECTION
*********************************************************************************/
.header {
  position: fixed;
  top: 0;
  background-color: transparent;
  width: 100%;
  z-index: 999;
  transition: all 0.5s ease-in;
}

.header .menu {
  font-size: 18px;
  display: none;
}

.header .menu:focus {
  outline: none;
  border-radius: 0;
}

.header .logo {
  color: white;
  font-size: 26px;
}

.header .my-navbar {
  display: flex !important;
  justify-content: space-between;
  padding: 16px 0;
}

.header .links .link {
  display: inline-block;
  list-style: none;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (min-width:992px) {

  .header .links {
    margin: 5px 0;
    display: block !important;
  }
}

.header .links .link a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease;
  text-transform: uppercase;
}

.header .links .link a:focus {
  color: var(--primary-color);
  background-color: transparent;
}

.header .links .link a:hover {
  color: var(--primary-color);
}

.header .links .link .active {
  color: var(--primary-color);
}

/**********************************************************************************
                        HOME SECTION
*********************************************************************************/

.home {
  background: url(../img/bg-home.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
}

.home .home-content {
  width: 100%;
  height: 100%;
  display: table;
}

.home .home-content .home-content-box {
  display: table-cell;
  vertical-align: middle;
}

.home .home-content .home-content-box h2 {
  font-weight: 700 !important;
  font-size: 55px !important;
  line-height: 61px !important;
  word-spacing: 8px !important;
  color: #fff !important;
}

.home .home-content .home-content-box .btn {
  width: 180px;
}

/**********************************************************************************
                                SERVICES SECTION
*********************************************************************************/

.services .service h4 {
  color: var(--heading);
}

.service {
  display: flex;
  padding: 10px 0;
  cursor: pointer;
}

.service:hover i {
  background-color: var(--primary-color);
  color: #fff;
}

.service h3 {
  font-size: 20px;
}

.service .content {
  margin-left: 10px;
}

.service .content p {
  font-size: 15px;
  text-transform: initial;
  letter-spacing: .5px;
  font-weight: 500;
}

.service i {
  color: var(--primary-color);
  width: 80px;
}

.service p {
  font-size: 16px;
  font-weight: 300;
  color: #64707b;
  line-height: 23px;
}

/**********************************************************************************
                                ABOUT SECTION
*********************************************************************************/

.about .img {
  float: right;
  border-left: 200px solid #fff;
  border-top: 700px solid transparent;
  height: 700px;
  background: url(../img/bg-about.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  width: 60%;
}

.about {
  position: relative;
}

.about #about-right .inner-content {
  width: 80%;
  height: 80%;
  font-weight: 500;
  line-height: 12px;
  font-size: 12x;
  text-transform: capitalize;
}

.about #about-right {
  display: table;
}

.about #about-left .content-box-lg {
  display: table-cell;
  vertical-align: middle;
}

/**********************************************************************************
                                WORK SECTION
*********************************************************************************/

.work .img-wrapper {
  overflow: hidden;
}

.work .d-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.work .img-wrapper img {
  transition: all 0.3s linear;
}

.work .img-wrapper img:hover {
  transform: scale(1.5);
}

.work .img-wrapper a:hover {
  cursor: zoom-in;
}

/**********************************************************************************
                                TEAM SECTION
*********************************************************************************/


.card h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #333;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.team .card p {
  font-style: italic;
  color: var(--primary-color);
}

.team .card .social-media-links {
  font-size: 16px;
}

.team .card .social-media-links i {
  color: #777;
  padding: 0 10px;
}

.team .card .social-media-links i:hover {
  color: var(--primary-color);
}

.owl-theme .owl-dots .owl-dot.active span {
  background: var(--primary-color) !important;
  opacity: 1;
}

.owl-theme .owl-dots .owl-dot span {
  background: var(--primary-color) !important;
  opacity: 0.5;
}

.owl-theme .owl-dots .owl-dot:hover span {
  opacity: 1 !important;
}

.team .card {
  margin-bottom: 50px;
}

/**********************************************************************************
                                TESTIMONIALS SECTION
*********************************************************************************/

.testimonials {
  background: url(../img/bg-testimonials.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.testimonials .heading h2 {
  color: #fff !important;
}

.testimonials .client img {
  max-width: 120px;
  margin: 0 auto;
}

blockquote {
  border-left-color: transparent;
  padding: 0;
}

.testimonials .client p {
  color: #fff !important;
  text-transform: capitalize;
  text-align: center;
}

.testimonials .client blockquote p {
  font-style: italic;
  font-family: georgia, times, serif;
}

.testimonials .client blockquote p:before {
  position: absolute;
  content: "\201c";
  font-size: 60px;
  left: 0;
}

.testimonials .client blockquote p:after {
  position: absolute;
  content: "\201d";
  font-size: 60px;
  right: 40px;
  bottom: 80px;
}

.testimonials .client .author span {
  display: block;
}

/**********************************************************************************
                                PRICING SECTION
*********************************************************************************/

.pricing .card .list {
  list-style: none;
}

.pricing .card {
  border: solid 3px var(--primary-color);
  padding: 45px 15px;
  margin-right: 20px;
}

.pricing .card h5 {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 6px 15px;
  margin: 10px 0;
  font-weight: 700;
}

.pricing .card .list li {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #64707b;
}

.pricing .card h4 {
  font-size: 60px !important;
  line-height: 66px !important;
  color: #333;
  position: relative;
}

.pricing .card h4 sup {
  font-size: 30px;
  vertical-align: super;
  font-weight: lighter;
}

.pricing-table .card-bg {
  background-color: var(--primary-color);
  transform: scale(1.1);
}

.pricing-table .card-bg .list li {
  color: #fff !important;
}

.pricing-table .card-bg h5 {
  background-color: #fff;
  color: var(--primary-color);
}

.pricing-table .card-bg a {
  padding: 10px 20px !important;
  transform: translateY(-15px);
}

/**********************************************************************************
                                STATS SECTION
*********************************************************************************/

.stats {
  background: url(../img/bg-stats.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

.stats .overlay .overlay-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.stats .heading-white {
  position: relative;
}

.stats .achievements {
  position: relative;
  padding: 100px 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-content: space-between;
}

.stats .achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.stats .achievements .achievement .icon {
  color: var(--primary-color);
  padding-bottom: 20px;
}

.stats .achievements .achievement .text {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
}

.stats .achievements .achievement .number {
  font-size: 38px;
  font-weight: bold;
  padding-bottom: 10px;
}

/**********************************************************************************
                                CLIENTS SECTION
*********************************************************************************/

.client {
  padding: 40px 0;
}

.clients .owl-item .img {
  width: 190px;
}

/**********************************************************************************
                                CONTACT SECTION
*********************************************************************************/
.contact {
  background-color: #41464b;
}

.contact .left-section h2 {
  color: white;
}

.contact .left-section .text {
  color: white;
  text-transform: none;
  font-weight: 300;
}

.contact .left-section {}

.contact .left-section .contact-info {
  background: url("../img/world-map.png") no-repeat;
  background-size: contain;
  color: white;
  text-transform: capitalize;
  font-size: 16px;
}

.contact .left-section .contact-info p {
  color: white;
}

.contact h3 {
  font-weight: 700;
  font-size: 24px;
  color: white;
}

.contact .left-section .contact-info .contact-numbers p {
  color: white;
}

.contact .left-section .social-links .link {
  list-style: none;
  display: inline-block;
  margin: 30px 25px;
  margin-left: 0;
}

.contact .left-section .social-links .link a {
  color: white;
  font-size: 16px;
  transition: all 0.2s ease;
}

.contact .left-section .social-links .link a:hover {
  color: var(--primary-color);
}

.contact .right-section h3 {
  color: white;
  text-transform: uppercase;
}

.contact .right-section .btn-general {
  padding: 15px 25px;
}

/**********************************************************************************
                                COPYRIGHTS SECTION
*********************************************************************************/

.copyrights {
  background-color: #3a3f43;
}

.copyrights .copyright {
  color: white;
  text-transform: capitalize;
  font-size: 16px;
}

.copyrights .links li {
  list-style-type: none;
  display: inline-block;
  color: white;
}

.copyrights .links a {
  color: white;
  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;
  transition: all 0.2s ease;
  text-decoration: none;
}

.copyrights .links a:hover {
  color: var(--primary-color);
}